 @media (max-width: 900px) {
    .hamburger {
        display: block; 
    }
    .nav-visible {
        display: none; 
        flex-direction: column;
       
    }
    .nav-hidden {
        display: flex; 
    }
    .close-icon {
        display: block;
    }

   
}
 