 @media (max-width: 900px) {
    .hamburger {
        display: block; 
    }
    .nav-visible {
        display: none; 
    }
    .nav-hidden {
        display: flex; 
    }
    .close-icon {
        display: block;
    }
    .nav-visible {
        
        margin-top: 10px;  
        margin-right: 10px;  
        margin-bottom: 10px;  
        margin-left: 10px;  
    }
   
}
 